:host {
    width: 80%;
    text-align: center;
    color: white;
    margin-top: 3rem;
}

.my-story {
    margin: auto;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-shadow: #22e5fb 0px 0 15px;
    width: 80%;
    line-height: 2.2rem;
}

@media screen and (max-width: 768px){
    :host {
        width: 100%;
    }
    .my-story {
        width: 90%;
        font-size: 1.5rem;
    }
}