<p class="my-story">I've started programming around {{ experienceYears }} years ago,
    but I've always been enthusiastic about computers and technology.
    <br>
    <br>
    In 2019 I joined a "Technisches Gymnasium" with a focus on computer science. There we learned many things about
    programming, databases, networks and more.
    One of the things I enjoyed the most was programming the Intel i8051 microcontroller in its assembly language,
    because it taught me a lot about memory management, CPU Instructions, and just how computers work generally.
    <br>
    <br>
    In 2022 I got my Abitur and started a dual study program for Computer Science with a focus on Computational data
    science at the DHBW in Stuttgart, and am currently in my third semester. The dual study program works in a way that
    I work for my partner company, Allianz Technology, for 3 months and then go to the DHBW in Stuttgart for 3 months,
    which goes on for 3 years.
    <br>
    <br>
    In April 2023 I took a side-job as Web-Developer for a small local marketing company, which offers the development
    of websites to their customers. As one of two developers there, I get to work on many projects for customers on my
    own, and am responsible for some aspects of the design, the development and also part of the deployment.
</p>