<ng-particles
  [id]="id"
  [options]="particlesOptions"
  [particlesInit]="particlesInit"
  (particlesLoaded)="particlesLoaded($event)"
></ng-particles>

<div class="fcc-100">
  <header>
    <h1>NikoMitK</h1>
  </header>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="rc-mt">
    <a mat-tab-link *ngFor="let link of mapLinks"
       (click)="navigateTo(link)"
       [active]="activeLink.name == link.name"
       class="bg-white"> {{link.name}} </a>
  </nav>
  <mat-tab-nav-panel #tabPanel class="flex-column-center wh-100">
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>